VITE_API_URL=https://consistentpips.onrender.com/api
VITE_SUPABASE_URL=https://txhplfakaqyvnkuyikeb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4aHBsZmFrYXF5dm5rdXlpa2ViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMDU2MTksImV4cCI6MjA5ODU4MTYxOX0.VKzteomtXfRUl_1byqKnLLTcuAl5NNYh0i-bec9jNME
VITE_APP_DOMAIN=https://consistent-pips.vercel.app
VITE_APP_VERSION=2.0.0-web
